html,
body {
  padding: 0;
  margin: 0;
  font-family: Fira Sans -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.sun-editor {
  border: 0px solid black !important;
}

.display-info-viewer .sun-editor .se-resizing-bar {
  display: none !important;
}
#nprogress .bar {
  background: darkblue !important;
}

#nprogress .spinner-icon {
  border-top-color: darkblue !important;
  border-left-color: darkblue !important;
}
